* {
  font-family: 'IBM Plex Mono', sans-serif;
}

body {
  background-color: #111;
  color: white;
  min-height: 100vh;
}


h1 {
  font-weight: 700;
  font-style: italic;
}

.centro{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
.pie {
  background-color: #000;
  padding: 1rem;
  border-top: 1px solid aqua;
  text-align: center;
}

.contacto{
  color: aqua;
}

.derechos{
  color: aqua;
}

.footer .contacto .datosContacto {
  font-weight: 800;
  font-size: 150%;
}

.footer .contacto #copiado {
  display: none;
  font-size: 0.7rem;
  color: lightgreen;
}

.footer .derechos {
  font-weight: 700;
}

